# LaTeX мусор
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.lof
*.lot
*.bbl
*.blg

# Временные и системные файлы
.DS_Store
*.tmp

# Папка билдов, если будешь использовать
build/

# PDF по умолчанию игнорим
*.pdf
# но этот один хотим в репозитории
!GIA.pdf